= simple_form_for user do |form|
  = form.input :username
  = form.input :email
  = form.input :password
  = form.input :password_confirmation, label: 'Confirm password'
  = form.button :submit, class: 'btn-primary'
