= breadcrumbs 'Users' => users_path, user.username => nil

%dl
  %dt Username
  %dd= user.username
  %dt Email
  %dd= mail_to user.email

%ul.menu
  %li= link_to 'Users', users_path
  %li= link_to 'New user', new_user_path
  %li= link_to 'Edit user', edit_user_path(user)
  %li= link_to 'Delete user', user, method: :delete, data: { confirm: 'This can not be undone. Do you still want to proceed?' }
