- provide(:title) { 'Sign in' }

= form_tag session_path, class: 'form-stacked' do
  .clearfix
    = label_tag :username, 'Username'
    .input= text_field_tag :username
  .clearfix
    = label_tag :password, 'Password'
    .input= password_field_tag :password
  .cleafix
    .actions
      = submit_tag 'Sign in', class: 'btn primary'
