!!! XML
!!! 5
%head
  %title= yield :title
  = stylesheet_link_tag 'application'
  = csrf_meta_tag
%body
  .topbar
    .topbar-inner
      .container
        %h1= yield :title
  .container-fluid
    .sidebar
    .content
      = render_flash
      = yield

  = javascript_include_tag 'application'
